footer {
    width: 100%;
    color: black;
    align-items: center;
    height: 120px;
    padding-left: 34px;
    position: fixed;
    display: flex;
    background: #FCD500;
    bottom: 0;
    box-sizing: border-box;
}

